<!--<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>-->
<!--<pre>{{user.email}}</pre>-->
<div class="container-fluid full-height">
  <div class="row full-height">
    <div id="dashboard-nav-bar" class="full-height col-md-2">
      <nav  class="hidden-xs-down bg-faded sidebar full-height">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
             <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About Us
        </button>
        <div class="dropdown-menu" aria-labelledby="about-us">
        <a class="dropdown-item" href="#">Our Story</a>
        <a class="dropdown-item" href="#">Our Team</a>
        <a class="dropdown-item" href="#">Contact Us</a>
        </div>
        </div>
          </li>
          <li class="nav-item" >
            <input type="text" class="form-control" placeholder="Search">
          </li>
          <li class="nav-item">
           <i class="fa fa-edit" aria-hidden="true"></i> <a class="nav-link " [routerLinkActive]="['active']" routerLink="/dashboard/newpost">New post<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/content">Content<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/tageditor">Tags<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLinkActive]="['active']" (click)="logout()">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="content-view" class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
