<div class="row">
  <div class="offset-lg-1 col-lg-3" *ngIf="currentUser">
    <div class="form-group">
      <label for="formName">Firstname</label>
      <input type="text" id="formName" name="name"  [(ngModel)]="currentUser.firstname" class="form-control">
    </div>
    <div class="form-group">
      <label for="formUrl">Name</label>
      <input type="text" id="formUrl" [(ngModel)]="currentUser.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="formDescription">email</label>
      <input type="text" id="formDescription" [(ngModel)]="currentUser.email" class="form-control">
    </div>
    <div class="form-group">
      <label for="formDescription">Image</label>
      <input type="text" id="formDescription" [(ngModel)]="currentUser.profile_image" class="form-control">
    </div>
    <div class="form-group">
      <label for="formDescription">Facebook</label>
      <input type="text" id="formDescription" [(ngModel)]="currentUser.facebook_url" class="form-control">
    </div>
  </div>
  <div class="offset-lg-6 col-lg-2">
    <button type="submit" class="btn btn-primary"  [ngClass]="{'btn-danger':error}" (click)="saveCurrentUser()" value="save">Save&nbsp;<i [ngClass]="{'fa fa-spinner fa-spin':sending}"></i></button>
  </div>
</div>
<div class="row">
    <hr class="col-lg-12">
</div>
<div class="row">
  <div class="offset-lg-1 col-lg-3">
    <form [formGroup]="passwordGroup" (ngSubmit)="updatePassword(passwordGroup.value)">
      <div class="form-group">
        <label for="formDescription">New password</label>
        <input type="password" id="formDescription" [formControl]="passwordGroup.controls['newPassword']" class="form-control">
        <div *ngIf="passwordGroup.controls['newPassword'].touched && passwordGroup.controls['newPassword2'].touched && passwordGroup.controls['newPassword'].value !== passwordGroup.controls['newPassword2'].value" class="alert alert-danger">Password are different</div>
      </div>
      <div class="form-group">
        <label for="formDescription">Verify New password</label>
        <input type="password" id="formDescription"  [formControl]="passwordGroup.controls['newPassword2']" class="form-control">
      </div>
      <input type="submit" class="btn btn-warning" value="change password">
    </form>
  </div>
</div>