#form-input{
  width: 100%;

}

#form-output {

  width : 100%;
}

#input-title {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  background: transparent;
  color: #242628;
  font-size: 2.6rem;
  font-weight: bold;
}