 <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col" *ngFor="let post of posts">             
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3>{{post.title}}</h3>
  </div>
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
    {{post.content}}  
  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo"></div>
    <div>
      <strong>The Newist</strong>
      <span>{{post.date}}</span>
    </div>
  </div>
</div>