<div class="container">
  <form id="form-login" [formGroup]="usercreds" class="form-signin card" (ngSubmit)="clickLogin(usercreds.value)" [ngClass]="{'shake-login':animShake}">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group" [ngClass]="{'has-danger':!usercreds.controls['email'].valid && usercreds.controls['email'].touched}">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [formControl]="usercreds.controls['email']" type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" [formControl]="usercreds.controls['email']"
        required autofocus>
    </div>
    <div class="form-group" [ngClass]="{'has-danger':!usercreds.controls['password'].valid && usercreds.controls['password'].touched}">
      <label for="inputPassword" class="sr-only">Password</label>
      <input [formControl]="usercreds.controls['password']"
        type="password" id="inputPassword" class="has-danger form-control" name="password" placeholder="Password" [formControl]="usercreds.controls['password']"
        required>
    </div>
    <div class="checkbox">
      <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
