body {
  background-color: #EEEEEE;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}
.post-divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid #dddddd;
}
.post-date{
  margin-right: .5em;
  color: #c7c7c7;
}
.post-category a {    
    color: #c7c7c7;
}
