#form-input{
  width: 100%;

}

#form-output {

  width : 100%;
}
#post-input {
  border:none;
  border-right : 1px solid #dfe1e3;

}

#input-title {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  background: transparent;
  color: #242628;
  font-size: 2.6rem;
  font-weight: bold;
}
#post-url,#post-url:focus{
  width : 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: #242628;
  font-size:20px;
  font-weight: bold;
  display:block;
  box-shadow : none;
}
#post-url-header{
  padding: 15px 0px;
}
.border-bottom {
  border-bottom : 1px solid #dfe1e3;
}

#action-bar{
  position: absolute;
  right: 10px;
  top :5px;
}
#save-post{
  position: relative;
}
#btn-settings {
  position: relative;
  border:none;
  cursor: pointer;
}
#bar-settings {
  visibility: hidden;
  padding : 5px 15px;
  overflow: hidden;
  z-index: 100;
  position: absolute;
  right:0;
  top:0;
  height: 100%;
  border-left : 1px solid #dfe1e3;
  background-color:#fafafa;
  /*background: #efeff1;*/
}
#title-bar-settings {
  margin-top : 15px;
}
#close-icon {
  z-index:  100;
  position:  relative;
  cursor : pointer;
  float : right;
  margin : 5px 5px 0px 0px;
}