<div class="row">
  <div class="col-lg-12 border-bottom">
    <header id="post-url-header">
      <input tabindex="1" id="input-title" type="text" id="post-url" [(ngModel)]="newPost.url"  placeholder="Your post title"/>
      <div id="action-bar">
        <button id="btn-settings"><i class="fa fa-cog" aria-hidden="true" (click)="toggleStateBar($event)"></i></button>
        <input tabindex="3" class="btn btn-primary" type="button" id="save-post" name="save-post" value="Save" (click)="saveNewPost($event)"/>
      </div>
    </header>
    </div>
</div>
<div class="row full-height">
  <div class="col-lg-6" contenteditable="true" >
    <div class="input-group full-height">
      <textarea tabindex="2" class="form-control full-height" id="post-input"  [(ngModel)]="newPost.content" ></textarea>
    </div>

  </div>
  <div id="form-output" class="col-lg-6" [innerHtml]="newPost.content | markdown">

  </div>

</div>
<div [@barState]="barState" id="bar-settings">

  <div id="exit">
    <span (click)="toggleStateBar($event)"><i class="fa fa-times" aria-hidden="true"></i></span>
  </div>
   <ng-select name="list-tag" [allowClear]="true" [multiple]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
    (removed)="removed($event)"
    placeholder="No tag selected">
  </ng-select>
</div>