<div class="container-fluid full-height">
  <div class="row full-height">
    <div id="dashboard-nav-bar" class="full-height col-md-2">
      <nav  class="hidden-xs-down bg-faded sidebar full-height">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <div class="dropdown-selector">
              <button  class="btn btn-primary dropdown-toggle" (clickOutside)="closeDropdown($event)"  (click)="toggleDropdown($event)" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>{{user?.name}}</strong>
              </button>
              <div class="dropdown-panel"  [@dropdownState]="dropdownState">
                <a class="dropdown-item" [routerLink] (click)=goToUser(user?._id)>Your profile</a>
                <a class="dropdown-item" href="#">Our Team</a>
                <a class="dropdown-item" [routerLink] (click)="logout()">Sign out</a>
              </div>
            </div>
          </li>
          <li class="nav-item" >
            <input type="text" class="form-control" placeholder="Search">
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active']" routerLink="/dashboard/editor"><i class="fa fa-edit" aria-hidden="true"></i> New post<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/content"><i class="fa fa-list-alt" aria-hidden="true"> Content</i><span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/tageditor"><i class="fa fa-tags" aria-hidden="true"></i>Tags<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="content-view" class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
