html, body {
    height:100%;
    margin:0;
}
body {
  /*background-color: #EEEEEE;*/
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}
.post-divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid #dddddd;
}
.post-date{
  margin-right: .5em;
  color: #c7c7c7;
}
.post-category a {
    color: #c7c7c7;
}

.full-height {
  height:100%;
}

.nav-tabs .nav-link, .nav-pills .nav-link{
  padding : 5px 10px 5px 15px;
}
